{% block title %}This is a landing page people!{% endblock %}
{% block content %}
	<h1> Landing page</h1>
                <p>This is a basic landing page structure for the UoB website</p>
	<!-- TODO: Create my project :-) -->
{% endblock %}